/*TODO Convert into  variables and increase/decrease opacity for mouse-over functions*/
.mapContainer{
    background-color: #0A122A;
}

.country {
    stroke: #20273d;
    stroke-width: 0.5;
}
.country:hover {
    cursor: pointer;
    stroke: #363d50;
    stroke-width: 1;
}

.marker {
    fill: #ff9505;
    fill-opacity: 0.7;
}

.marker:hover {
    cursor: pointer;
    fill-opacity: 1;
    stroke: #FFBB5F;
    stroke-width: 0.9;
}

.source:link, .source:visited {
    color: orangered;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}
.source:hover, .source:active {
    background-color: #485461;
}

.protestTooltip {
    pointer-events: auto !important;
}
.protestTooltip:hover {
    visibility: visible !important;
    opacity: 1 !important;
}